<div class="{{prefix}}" [style]="style">
  @if (use.includes('HISTORY')){
    <nz-button-group nzSize="small" class="mr-5">
      <button nz-button nzSize="small" [disabled]="!history?.allowUndo">
        <app-icon icon="Undo"></app-icon>
      </button>
      <button nz-button nzSize="small" [disabled]="!history?.allowRedo">
        <app-icon icon="Redo"></app-icon>
      </button>
    </nz-button-group>
  }

  @if (workbench.type === 'DESIGNABLE' && use.includes('CURSOR')){
    <nz-button-group nzSize="small" class="mr-5">
      <button nz-button nzSize="small" [disabled]="cursor.type === CursorType.Normal" (click)="cursor.setType(CursorType.Normal)">
        <app-icon icon="Move"></app-icon>
      </button>
      <button nz-button nzSize="small" [disabled]="cursor.type === CursorType.Selection" (click)="cursor.setType(CursorType.Selection)">
        <app-icon icon="Selection"></app-icon>
      </button>
    </nz-button-group>
  }


  @if (use.includes('SCREEN_TYPE')){
    <nz-button-group nzSize="small" class="mr-5">
      <button nz-button nzSize="small" (click)="selectPc()" [disabled]="screen.type === ScreenType.PC">
        <app-icon icon="Pc"></app-icon>
      </button>
      <button nz-button nzSize="small" (click)="selectMobile()" [disabled]="screen.type === ScreenType.Mobile">
        <app-icon icon="Mobile"></app-icon>
      </button>
      <button nz-button nzSize="small" (click)="selectResponsive()" [disabled]="screen.type === ScreenType.Responsive">
        <app-icon icon="Responsive"></app-icon>
      </button>
    </nz-button-group>
  }

  @if (use.includes('SCREEN_TYPE') && screen.type === ScreenType.Responsive){
    <nz-input-number nzSize="small" [(ngModel)]="screen.width" class="w-[70px] text-center"></nz-input-number>
    <app-icon [size]="10" icon="Close" [style]="{padding: '0 3px',color: '#999'}"></app-icon>
    <nz-input-number nzSize="small" [(ngModel)]="screen.height" class="w-[70px] text-center mr-2.5"></nz-input-number>
    @if(screen.width !== '100%' || screen.height !== '100%'){
      <button nz-button nzSize="small" class="mr-5" (click)="screen.resetSize()">
        <app-icon icon="Recover"></app-icon>
      </button>
    }
  }


  @if (use.includes('SCREEN_TYPE')  && screen.type === ScreenType.Mobile){
    <button nz-button nzSize="small" class="mr-5" (click)="changeMobileFlip()">
      <app-icon icon="Flip" [style]="{transition: 'all .15s ease-in',
              transform: screen.flip ? 'rotate(-90deg)' : '',}"></app-icon>
    </button>
  }

</div>
