<app-designer>
  <app-workbench>
    <app-studio-panel>
      <p logo>logo</p>
      <div action>action</div>
      <app-composite-panel>
        <app-composite-panel-item title="panels.Component" icon="Component"></app-composite-panel-item>
        <app-composite-panel-item title="panels.OutlinedTree" icon="Outline"></app-composite-panel-item>
        <app-composite-panel-item title="panels.History" icon="History"></app-composite-panel-item>
      </app-composite-panel>
      <app-workspace-panel>

      </app-workspace-panel>
      <app-setting-panel>

      </app-setting-panel>
    </app-studio-panel>
  </app-workbench>
</app-designer>
