<app-designer>
  <app-workbench>
    <app-studio-panel>
      <ng-container logo *ngTemplateOutlet="logo"></ng-container>
      <ng-container action *ngTemplateOutlet="action"></ng-container>
      <app-composite-panel>
        <app-composite-panel-item title="panels.Component" icon="Component">
          <app-resource title="sources.Inputs" [sources]="resourceList"></app-resource>
          <app-resource title="sources.Displays" [sources]="resourceList"></app-resource>
          <app-resource title="sources.Feedbacks" [sources]="resourceList"></app-resource>
        </app-composite-panel-item>
        <app-composite-panel-item title="panels.OutlinedTree" icon="Outline">
          <app-outline></app-outline>
        </app-composite-panel-item>
        <app-composite-panel-item title="panels.History" icon="History">
          <app-history></app-history>
        </app-composite-panel-item>
      </app-composite-panel>
      <app-workspace-panel>
        <app-toolbar-panel>
          <app-designer-tool-widget></app-designer-tool-widget>
          <app-view-tools-widget></app-view-tools-widget>
        </app-toolbar-panel>
        <app-viewport-panel>
          <app-view-panel>
            <app-component-tree-widget></app-component-tree-widget>
          </app-view-panel>
        </app-viewport-panel>
      </app-workspace-panel>
      <app-setting-panel title="panels.PropertySettings">
        <app-settings-form></app-settings-form>
      </app-setting-panel>
    </app-studio-panel>
  </app-workbench>
</app-designer>

<ng-template #logo>
  <p class="mb-0 text-lg text-transparent bg-clip-text bg-gradient-to-r from-[#8514f5] via-[#f637e3] to-[#fa2c05]">dynamic form designer</p>
</ng-template>

<ng-template #action>
  <div class="flex ml-2 gap-2 h-10 items-center">
    <nz-radio-group [(ngModel)]="language" (ngModelChange)="changeLanguage($event)">
      <label nz-radio-button nzValue="en-us">English</label>
      <label nz-radio-button nzValue="zh-cn">中文</label>
    </nz-radio-group>

    <button nz-button>保存</button>
    <button nzType="primary" nz-button>发布</button>
  </div>
</ng-template>
