<app-designer>
  <app-workbench>
    <app-studio-panel>
      <p logo>logo</p>
      <div action>action</div>
      <app-composite-panel>
        <app-composite-panel-item title="panels.Component" icon="Component">
          <app-resource title="sources.Inputs" [sources]="resourceList"></app-resource>
          <app-resource title="sources.Displays" [sources]="resourceList"></app-resource>
          <app-resource title="sources.Feedbacks" [sources]="resourceList"></app-resource>
        </app-composite-panel-item>
        <app-composite-panel-item title="panels.OutlinedTree" icon="Outline"></app-composite-panel-item>
        <app-composite-panel-item title="panels.History" icon="History"></app-composite-panel-item>
      </app-composite-panel>
      <app-workspace-panel>
        <app-toolbar-panel>
          <app-designer-tool-widget></app-designer-tool-widget>
          <app-view-tools-widget></app-view-tools-widget>
        </app-toolbar-panel>
        <app-viewport-panel>
          <app-view-panel>

          </app-view-panel>
        </app-viewport-panel>
      </app-workspace-panel>
      <app-setting-panel>

      </app-setting-panel>
    </app-studio-panel>
  </app-workbench>
</app-designer>
